{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<script type="text/javascript">
    function edit(id) {
        if($('#'+id).text() == "Edit") {
            $('#text_' + id).show();
            $('#text_mood_' + id).show();
            $('#'+id).text("Save");    
        } else {
            $('#submit_'+id).click(); 
        }
        
    }
</script>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}

    
    <tr>
        <td>
            {{
                post['post'] + ' was feeling ' + post['mood']
            }}
            <form action="{{url_for('.update_post')}}" method="post" id="form_{{post['_id']}}">
                <input type="text" name="new_post" value="{{post['post']}}" id="text_{{post['_id']}}" style="display:none">
                <select name="newMood" id="text_mood_{{post['_id']}}" style="display:none">
                    <option value="Happy" {% if post['mood'] == "Happy" %} selected="true" {% endif %}>Happy</option>
                    <option value="Sad" {% if post['mood'] == "Sad" %} selected="true" {% endif %}>Sad</option>
                    <option value="Worried" {% if post['mood'] == "Worried" %} selected="true" {% endif %}>Worried</option>
                    <option value="Horrible" {% if post['mood'] == "Horrible" %} selected="true" {% endif %}>Horrible</option>
                </select>
                <input type="hidden" value="{{post['_id']}}" name="id">
                <input type="submit" value="submit" id="submit_{{post['_id']}}" style="display:none">
            </form>
            <button onClick="edit('{{post['_id']}}');" id="{{post['_id']}}">Edit</button>

        </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select name="mood">
        <option value="Happy">Happy</option>
        <option value="Sad">Sad</option>
        <option value="Worried">Worried</option>
        <option value="Horrible">Horrible</option>
    </select>
    <input class='btn btn-primary' type='submit' />
</form>



{% endblock %}