{% extends "base.html" %}

{% block content %}
	<br />
	<div class="col-md-12">
		<form action="{{url_for('.add_inventory')}}" method="post">
			<input type="text" name="item_name">
			<input type="text" name="item_price">
			<input type="submit" value="Add">
		</form>
	</div>
	<br />
	<div class="col-md-6">
		<h2>Inventory</h2>
		<form action="{{url_for('.add_to_cart')}}" method="post">
		<ul>
			
			<script type="text/javascript">
			function edit_item(id) {
				if($('#btn_' + id).text() == "Edit") {
					$('#edit_name_' +id).show();
					$('#edit_price_' +id).show();
					$('#btn_' + id).text("Save");
				} else {
					window.location.href = "{{url_for('.update_item')}}" 
											+ "?name=" + $('#edit_name_' + id).val()
											+ "&old_name=" + $('#old_name_' + id).val()
											+ "&price=" + $('#edit_price_' + id).val()
											+ "&id=" + id;
				}
			}
			</script>
			{% for item in items %}
			<li style="margin-bottom:15px !important">{{'(Php' + item['price'] + ')  ' + item['name']}} 
				
					<input type="text" name="item_qty[]" style="width:50px" placeholder="Qty" value="0">
					<input type="hidden" name="item_name[]" value="{{item['name']}}">
					<input type="hidden" name="item_price[]" value="{{item['price']}}">

					<ul class="list-inline">
						<li>
							<input type="text" id="edit_name_{{item['_id']}}" value="{{ item['name'] }}" style="display:none">
							<input type="hidden" id="old_name_{{ item['_id'] }}" value="{{ item['name'] }}"/>
						</li>
						<li>
							<input type="text" id="edit_price_{{item['_id']}}" value="{{item['price']}}" style="display:none;width:50px" />
						</li>
						<li>
							<a class="btn btn-default" id="btn_{{ item['_id'] }}" onclick="edit_item('{{ item['_id'] }}');">Edit</a>
						</li>
					</ul>

			</li>
			{% endfor %}

		<ul>

				<input type="submit" name="submit" value="add to cart" />
			</form>
	</div>

	<div class="col-md-6">
		<h2>My Cart</h2>
		<ul>
			{% for myItem in cart %}
				{% if myItem['qty'] != "0" %}
					<li>{{myItem['qty'] + 'x' + myItem['name'] + '      Php.' + myItem['total']}} </li>
				{% endif %}
			{% endfor %}
		<ul>

		<a href="{{url_for('.purchase_item')}}">Purchase</a>
	</div>

	<div class="col-md-12" stlye="height:300px !important;overflow-y:auto">
		<fieldset class="fieldset">
			<legend>Purchase History</legend>	
			<table class="table">
				<thead>
					<td>Item  Name</td>
					<td>Price</td>
					<td>Quantity</td>
				</thead>
			{% for i in history %}
				<tr>
					<td>{{ i['name'] }}</td>
					<td>{{ i['price'] }}</td>
					<td>{{ i['qty'] }}</td>
				</tr>
			{% endfor %}
			</table
		</fieldset>
	</div>

	
{% endblock %}

